* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;

  font-family: Andale Mono, monospace;
  /* background-color: rgb(243, 235, 235); */
  background: linear-gradient(rgb(243, 235, 235), rgb(161, 131, 131));
}

h1 {
  text-align: left;
  text-shadow: 0.5px 0.5px white;
}

span {
  float: right;
  text-align: right;
  font-size: 16px;
  padding-right: 6px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: rgb(22, 21, 21) 2px solid;
  padding-bottom: 20px;
}

.search-subcontainer {
  width: 200px;
  height: 200px;
  position: relative;
}

.museum-title {
  position: absolute;
  top: -10px;
  width: 190px;
  text-align: center;
  color:rgb(243, 235, 235);
}

.europeana {
  color:rgb(22, 21, 21);
}

.search-museum-image {
  width: 190px;
  height: 190px;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px rgb(22, 21, 21);
}

.input {
  margin: 0 20px 0 20px;
  position: absolute;
  bottom: 15px;
  left: 0;
}

button {
  font-family: Andale Mono, monospace;
  font-size: 12px;
  width: 190px;
}

.clear {
  width: 190px;
  height: 190px;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px rgb(22, 21, 21);
  font-size: 28px;
}

.clear:hover {
  opacity: 60%;
}

.art-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 50px;
}

.flex-item {
  width: 24%;
  margin: 0.25%;
}

.flex-item > img {
  width: 100%;
  box-shadow: 1px 1px 1px rgb(22, 21, 21);
  border-radius: 15px;
}

.flex-item-image {
  box-shadow: 1px 1px 1px rgb(22, 21, 21);
  border-radius: 15px;
}

